body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  width: 100vw;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  width: auto;
  background-color: #343a40;
  border-right: 1px solid #485056;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #485056;
  background-color: transparent;
  color: #f8f9fa;
  padding: 6px 18px;
  margin: 8px;
  border-radius: 4px;
  white-space: nowrap;
  height: 28px;
  cursor: pointer;
}

.webviewer {
  height: 100vh;
  width: 100%;
}
